button {
	border: none;
	border-radius: 3px;
	background-color: rgba(40, 110, 55, 0.8);
	color: #fff;
	font-size: 16px;
	padding: 0.5rem 0.8rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	user-select: none; // postcss 的 postcss-preset-env 會幫我們加上瀏覽器前綴

	&:hover {
		background-color: rgba(61, 144, 79, 0.8);
	}

	&:active {
		background-color: rgba(30, 92, 44, 0.8);
	}
}
